<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ReportLibrary.Properties.Settings.EmmaReports" connectionString="Data Source=ID39090;initial catalog=VAA;Persist Security Info=True;User ID=sa;Password=Dreamliner2*"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>